@{
    ViewBag.Title = "Home Page";
}

<!-- Pushy Menu -->
<nav class="pushy pushy-left">
    <ul class="list-unstyled">
        <li><a href="#home">Home</a></li>
        <li><a href="#sobre">Sobre Nós</a></li>
        <li><a href="#pousada">Pousada</a></li>
        <li><a href="#passeios">Passeios de Barco</a></li>
        <li><a href="#cultura">Cultura</a></li>
        <li><a href="#kitesurfing">Kitesurfing</a></li>
        <li><a href="#fotos">Fotos</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<header id="home">
    <div class="container-fluid">
        <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-10">
                    <a href="#" class="thumbnail logo">
                        <img src="~/images/Logo.png" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-1 col-md-offset-8 col-xs-2 text-center">
                    <div class="menu-btn"><span class="hamburger"><i class="fa fa-bars"></i></span></div>
                </div>
            </div>
            <div class="jumbotron">
                <h1>
                    <small>Pousada</small></br>
                    <strong>Recanto Vila Viçosa</strong>
                </h1>
                <p>
                    Onde Turismo, Arte e Cultura se Harmonizam
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="#sobre" role="button">Aprenda Mais</a>
                    <a target="_blank" href="#contato" class="btn btn-lg btn-danger" role="button">Junte-se a Nós!</a>
                </p>
            </div>
        </div>
    </div>
</header>
<section id="sobre">
    <div class="container">
        <div class="row features">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                @*<span class="typcn typcn-pencil x3"></span>*@
                <h4><u>Sobre Nós</u></h4>
                <p id="addressBlurb">
                    <b>
                        Pousada Recanto Vila Viçosa<br />
                        Rua Brasilia, 291<br />
                        Pontal da Barra<br />
                        Nova Viçosa, Bahia, Brasil
                    </b><br />
                    Tel: 73-98806-0353 (Oi)<br />
                    Tel: 73-99119-3288 (Tim)<br />
                    Tel: 73-99904-2075 (Vivo/Whatsapp)<br />
                    recantovilavicosa@gmail.com
                </p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                @*<span class="typcn typcn-bookmark x3"></span>
                    <h4>Cras Sollicitudin</h4>*@
                <p id="middleBlurb">Uma região com pouco mais de 11 mil habitantes, localizada no extremo Sul da Bahia, entre Vitória - Espírito Santo e Porto Seguro. Um paraíso tropical que ainda conserva e faz questão de manter belezas naturais, cultura local, raízes e costumes. Um lugar de belas praias, mas também de excelente culinária. Da roda de capoeira na praça à influência indígena que dá cara e forma à vila de pescadores. Venha experimentar a liberdade e o prazer de fazer parte da nossa Vila.</pid="addressBlurb">
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                @*<span class="typcn typcn-camera-outline x3"></span>*@
                <p>A Pousada Recanto Vila Viçosa é o seu portal para a diversão e aventura em uma cidade pacífica costeira que ainda mantém a sua cultura autêntica!</p>
                <br />
                <h4>Onde Autenticidade Encontra o Lazer!</h4>
            </div>
        </div>
    </div>
</section>
<section id="pousada" class="number wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7 opaline col-md-offset-6">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h2>Pousada</h2>
                            <!-- Button trigger modal -->
                            <div class="row">
                                <button type="button" class="btn btn-primary btn-md" id="passeiosButtons" data-toggle="modal" data-target="#pousadaPics">
                                    Imagems da Pousada
                                </button>
                            </div>
                            <p>
                                Pra você que deseja passar momentos de tranquilidade e ao mesmo tempo prazeroso não pode deixar de incluir esse paraíso em sua rota.
                            </p>
                            <p>
                                Aqui na Pousada Recanto Vila Viçosa, você se hospedará em suites confortáveis e aconchegante. O ambiente é calmo e seguro. Pra quem é apaixonado pela natureza, não vai se arrepender, pois o verde e as praias aqui são bem marcante.
                            </p>
                            <p>
                                Ótimos lugares para descansar em mais de 32km de praias. É tudo de bom! Poderá apreciar a cidade, respirar ar puro, sentir aquele cheiro gostoso da natureza, poderá ler um livro ou até mesmo tirar um cochilo.
                            </p>
                            <p>
                                Com certeza irá esquecer do corre-corre do seu trabalho, dos problemas para resolver e relaxará, porque o ambiente aqui lhe proporciona isso, paz, tranquilidade e alegria.
                            </p>
                            <p>
                                Com uma área externa super agradável e com café da manhã incluído na diária.
                            </p>
                            <p>
                                A sua estadia aqui provavelmente será uma doce lembrança.
                            </p>
                            <p>
                                Internet wi-fi em toda a área da pousada. Começamos também recentemente mostrando filmes à noite durante os períodos de alta temporada em nosso showroom.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="passeios" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Passeios De Barco</h2>
                <p>
                    Um inesquecível encontro com a natureza, formada por manguezais, restingas e Mata Atlântica.
                </p>
                <p>
                    São 50 minutos de barco ou 25 minutos de lancha pelo rio Peruípe, contemplando as famosas ilhas de mangue, com grande variedade de aves e rica fauna marinha.
                </p>
                <p>
                    Opção segura para quem gosta de caminhadas, trilhas e privacidade.
                </p>
                <!-- Button trigger modals -->
                <div class="row">
                    <button type="button" class="btn btn-primary btn-md" id="passeiosButtons" data-toggle="modal" data-target="#snorkeling">
                        Mergulhos e Snorkel
                    </button>
                    <button type="button" class="btn btn-primary btn-md" id="passeiosButtons" data-toggle="modal" data-target="#abrolhos">
                        Abrolhos
                    </button>
                    <button type="button" class="btn btn-primary btn-md" id="passeiosButtons" data-toggle="modal" data-target="#baleia">
                        Baleia Jubarte
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp" id="detailsBox">
                        <small>
                            <p>Oportunidades</p>
                            <ul>
                                <li>Baleia Jubarte</li>
                                <li>Abrolhos</li>
                                <li>Ilhas Locais</li>
                                <li>Manguezal</li>
                                <li>Caravelas</li>
                                <li>Snorkel / Mergulho</li>
                            </ul>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <figure>
                    <img src="~/images/abrolhosIslands.jpg" alt="Imagem de Abrolhos" class="img-responsive" />
                    <figcaption id="caption"> Vista da Reserva Natural de Abrolhos </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<section id="cultura" class="story wow fadeInUp" data-wow-delay="300ms">
    <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p class="lead"><h2>Nova Viçosa - Cultura e Atividades Locais</h2></p>
                            <h5>Se ainda não conhece Nova Viçosa - Bahia então precisa conhecer.</h5>
                            <p>
                                A cidade de Nova Viçosa - Bahia abriga uma impressionante variedade de eventos anual. Entre os inúmeros estão, a Festa da Baleia Jubarte, Moto Fest, Forró do Asfalto, Reveillon, Festa dos Mouros e Cristãos, Festa Juninas, Carnaval e Muito Mais.
                            </p>
                            <p>
                                Além disso, a cidade é o lar de grupos de capoeira, noites de Forró semanais, exposições de arte, e bandas musicais de qualidade.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="kitesurfing" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="~/images/watersports/kitesurf.jpg" alt="" class="img-responsive">
                <div class="row">
                    <div class="col-lg-3"><img src="~/images/kitesurf sunset.jpg" alt="" id="kitesurfThumbnails"></div>
                    <div class="col-md-3"><img src="~/images/watersports/kitesurf2.jpg" alt="" id="kitesurfThumbnails"></div>
                    <div class="col-md-3"><img src="~/images/watersports/kitesurfFar.jpg" alt="" id="kitesurfThumbnails"></div>
                    <div class="col-md-3"><img src="~/images/watersports/kitesurfGirl.jpeg" alt="" id="kitesurfThumbnails"></div>
                </div>
            </div>
            <div class="col-md-7">
                <h2>Kitesurfing</h2>
                <p>
                    Com águas rasas e ventos fortes com freqüência, praias de Nova Viçosa - Bahia oferecem excelentes oportunidades para a captura de uma brisa.
                </p>
                <p>
                    Localização paradisíaca com média de ventos de 17 knots que permite aos amantes do kite velejarem até ilhas praticamente desertas. As águas desta praia também permanecem no nível do ombro até 0,5 km da linha da maré. Grande extensão de areia sempre com pouca gente, permitindo a prática do esporte sem muitos obstáculo. Estas condições são ideais para o kitesurf.
                </p>
                <p>
                    Profissionais locais, que oferece excelente instruções de como aprender o kitesurfing com total seguranca e com muita adrenalina a preços razoáveis para todos, desde iniciantes até aqueles que estão prontos para aprender algumas manobras.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="photos" class="gallery wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="masonry image-gallery">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="item item-width2">
                    <img src="~/images/cityCenter.jpg" />
                </div>
                <div class="item">
                    <img src="~/images/coloredHouses.jpg" />
                </div>
                <div class="item">
                    <img src="~/images/blueCrab.jpg" />
                </div>
                <div class="item">
                    <img src="~/images/igreja.jpg" />
                </div>
                <div class="item">
                    <img src="~/images/palmSunset.jpg" />
                </div>
                <div class="item">
                    <img src="~/images/threeUmbrellas.jpg" />
                </div>
                <div class="item item-width2">
                    <img src="~/images/prettyHarborSmall.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clients wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <p id="responsibilityStatement">
                Responsabilidade sócio ambiental<br />
                O compromisso com a sustentabilidade e a gestão ética é parte integrante e fundamental da forma como Pousada Recanto Vila Viçosa trabalha.
                Fazendo parte da sua identidade, formalmente expresso em seus valores, a responsabilidade e sustentabilidade ganham destaques na nossa cidade,
                pois Nova Viçosa - BA acredita que este compromisso de preservação do meio ambiente e valorização das pessoas é um caminho para o crescimento
                da cidade e para criação de valores.
            </p>
            @*<div class="col-md-2">
                    <img src="images/logo-sample-01.jpg" class="img-responsive" />
                </div>
                <div class="col-md-2">
                    <img src="images/logo-sample-02.jpg" class="img-responsive" />
                </div>
                <div class="col-md-2">
                    <img src="images/logo-sample-03.png" class="img-responsive" />
                </div>
                <div class="col-md-2">
                    <img src="images/logo-sample-04.jpg" class="img-responsive" />
                </div>
                <div class="col-md-2">
                    <img src="images/logo-sample-05.jpg" class="img-responsive" />
                </div>
                <div class="col-md-2">
                    <img src="images/logo-sample-06.png" class="img-responsive" />
                </div>*@
        </div>
    </div>
</section>
@*<section id="contato" class="prefooter wow fadeInUp" data-wow-delay="300ms">
        <!-- change the image in style.css to the class .prefooter .container-fluid [approximately row 154] -->
        @*<div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Maecenas sed diam eget risus varius<br> blandit sit amet non magna.</h3>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Your Email Here...">
                                <br>
                                <button type="button" class="btn btn-danger">Submit Newsletter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<footer>
    <div class="container" id="contato">
        <div class="row">
            <div class="col-md-8">
                <h3>RECANTO VILA VICOSA</h3>
                <p>© 2014 Pousada Recanto Vila Viçosa. Developed by <a target="Allie McKay" href="https://github.com/devalexer">devalexer</a></p>.
            </div>
            <div class="col-md-4">
                <p class="text-right social">
                    <a href="https://pt-br.facebook.com/recantovilavicosa/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true" id="socialMediaIcon"></i></a>
                    <a href="https://www.tripadvisor.com.br/Hotel_Review-g2347052-d7395311-Reviews-Recanto_Vila_Vicosa-Nova_Vicosa_State_of_Bahia.html" target="_blank"><i class="fa fa-tripadvisor fa-lg" aria-hidden="true" id="socialMediaIcon"></i></a>
                    <a href="https://www.booking.com/hotel/br/pousada-recanto-vila-vicosa.pt-br.html" target="_blank"><i class="fa fa-bold fa-lg" aria-hidden="true" id="socialMediaIcon"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>



<!-- Modal -->
<div class="modal fade" id="snorkeling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mergulhos e Snorkel</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/watersports/snorkeling.jpg" id="topImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/watersports/snorkeling2.jpg" id="topImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/watersports/snorkeler.jpg" id="topImages" />
                    </div>
                </div>
                O mergulho é uma das maneiras mais fáceis de transformar a sua experiência do mundo ao seu redor. Por simplesmente mergulhar a cabeça debaixo d'água, você é imediatamente surgiu em um ambiente totalmente diferente e único.
                <br /><br />
                O mergulho é também um dos esportes aquáticos mais universalmente acessíveis como quase ninguém - de qualquer idade e habilidade podem participar. Só é preciso um pequeno pedaço de engrenagem (que podemos oferecer através da nossa loja de equipamentos) e um belo local.
                <br /><br />
                As águas quentes e rasas de Nova Viçosa oferecer um local quase ideal para a visualização de uma abundância de vida marinha dentro de poucos metros (às vezes polegadas) de seu rosto. A área abriga peixes tropicais, coral raro, e água cristalina.
                <br /><br />
                Estamos felizes em organizar um passeio de barco para uma das áreas de mergulho mais puras que são susceptíveis de nunca ver.
                <br /><br />
                *Os valores varia depedendo do passeio.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="abrolhos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Abrolhos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/watersports/aboveAbrolhos.jpg" id="topImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/watersports/abrolhos2.jpg" id="topImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/watersports/abrolhos3.jpg" id="topImages" />
                    </div>
                </div>
                Criado em 1983, pelo Ibama, o Parque Nacional Marinho dos Abrolhos é um conjunto de ilhas vulcânicas e recifes coralíneos. Localizado a 36 milhas náuticas (aproximadamente 70 quilômetros) da costa do Extremo Sul da Bahia. É uma das mais significativas áreas do litoral brasileiro, pela sua enorme biodiversidade e importantes ecossistemas.
                <br /><br />
                O Banco de Abrolhos é berço da baleia jubarte, que fazem dessa região seu refúgio de amamentação e reprodução, entre os meses de julho e novembro. É a mais importante área de reprodução dessa espécie no Atlântico Sul Ocidental.
                <br /><br />
                O Parque é fundamental ao desenvolvimento das atividades pesqueiras. Devido à proibição da pesca em seus limites, os corais representam um importante criadouro de peixes que, cada vez mais, tende a povoar áreas vizinhas, garantindo a exploração sustentável da pesca na região.
                <br /><br />
                Nova Viçosa é o porto de saída para o parque.
                <br /><br />
                Os passeios de barco:
                <br /><br />
                São de 2 dias, que inclui alimentação, lugar para dormir no barco e todo equipamento necessario para o mergulho com oxigênio ou snorkle.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="baleia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Baleia Jubarte</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/watersports/whale2.jpg" id="topImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/watersports/whale.jpg" id="topImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/watersports/whale3.jpg" id="topImages" />
                    </div>
                </div>
                Entre os meses de julho e Setembro é possível observar as Baleias Jubarte a poucos kilometros das prais de Nova Viçosa
                <br /><br />
                Durante a “baleiada”, atividade desenvolvida para avistagem desses animais em alto mar, os visitantes tem a oportunidade de observar belas acrobacias com baleias que chegam até 16 metros de comprimento e 40 toneladas, um verdadeiro espetáculo da natuzera na costa baiana.
                <br /><br />
                As baleias vindas da Antártica escolhem as águas mornas do litoral para reproduzirem, terem seus filhotes, ou simplesmente aprenderem o caminho para chegar até aqui.
                <br /><br />
                “Trata-se de um novo produto turístico que estamos trabalhando na cidade com o objetivo de agregar mais valor e proporcionar diferentes opções para nossos visitantes e moradores”.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pousadaPics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Baleia Jubarte</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/pousada/building.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/bedroom.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/bedBath.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/baneiro.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/airconditioner.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/sideYard.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/yard.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/hammock.jpg" id="pousadaImages" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/pousada/vista.jpg" id="pousadaImages" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

